# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio code files
.vscode/

# Visual Studio files
*.VC.db
*.VC.opendb
Debug
Release
x64
.vs
*.vspx
*.psess
*.user
*.cbp

#CMake files
lib
obj
bin
Makefile
CMakeFiles
CMakeCache.txt
*.cmake

#
a.out
log.txt
failed.txt
parse_out.txt
.idea/

/Testing/
