# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio code files
.vscode/

# Visual Studio files
*.VC.db
*.VC.opendb
Debug
Release
x64
.vs
*.vspx
*.psess
*.user

#CMake files
lib
obj
bin
Makefile
CMakeFiles
CMakeCache.txt
*.cmake

/data_structures/ALL_BUILD.vcxproj
/data_structures/ALL_BUILD.vcxproj.filters
/data_structures/optimization.sln
/data_structures/ZERO_CHECK.vcxproj
/data_structures/ZERO_CHECK.vcxproj.filters
/data_structures/trie/trie_test.vcxproj.filters
/data_structures/trie/trie_test.vcxproj
