# include to sdist
include CMakeLists.txt
include pylext/core/CMakeLists.txt
include pylext/core/format/CMakeLists.txt
include pylext/core/parser/CMakeLists.txt
include pylext/core/pymacro/CMakeLists.txt
recursive-include pylext/core *.pyx *.pxd
recursive-include pylext/core/format *.cpp *.h
recursive-include pylext/core/parser *.cpp *.h
recursive-include pylext/core/pymacro *.cpp *.h
include README.md
