# include to sdist
include CMakeLists.txt
include cfgexts/parser/CMakeLists.txt
include cfgexts/parser/format/CMakeLists.txt
include cfgexts/parser/src/CMakeLists.txt
recursive-include cfgexts/parser *.pyx *.pxd
recursive-include cfgexts/parser/format *.cpp *.h
recursive-include cfgexts/parser/src *.cpp *.h
include README.md
