# include to sdist
include CMakeLists.txt
include cfgexts/core/CMakeLists.txt
include cfgexts/core/format/CMakeLists.txt
include cfgexts/core/parser/CMakeLists.txt
include cfgexts/core/pymacro/CMakeLists.txt
recursive-include cfgexts/core *.pyx *.pxd
recursive-include cfgexts/core/format *.cpp *.h
recursive-include cfgexts/core/parser *.cpp *.h
recursive-include cfgexts/core/pymacro *.cpp *.h
include README.md
